body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body,
html {
    height: 100%;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'limestoneregular';
    src: url('limestone_regular-webfont.woff2') format('woff2'),
        url('limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'limestoneregular';
}

/* styles for opening menu */

.menu-wrapper.open-all,
.menu-wrapper.open {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.menu-wrapper.open-all {
    width: 300px;
}

.menu-wrapper.open-all .submenu li {
    height: 60px
}

/* if an icon anchor has a span, hide the span */

.icon span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.icon-menu::before {
    margin-left: -15px;
    vertical-align: -2px;
    width: 30px;
    height: 3px;
    background: #796d65;
    box-shadow: 0 3px #ec7f44, 0 -6px #796d65, 0 -9px #ec7f44, 0 -12px #796d65;
    content: '';
}

.no-touch .icon-menu:hover::before,
.no-touch .icon-menu.valgt:hover::before {
    background: #796d65;
    box-shadow: 0 3px #ec7f44, 0 -6px #796d65, 0 -9px #ec7f44, 0 -12px #796d65;
}

.icon-menu.valgt::before {
    background: #796d65;
    box-shadow: 0 3px #ec7f44, 0 -6px #796d65, 0 -9px #ec7f44, 0 -12px #796d65;
}

/* To Navigation Style */
img.myLogo {
    height: 60px;
    border-right: none;
    background: url("");
}

img.mobileLogo {
    height: 60px;
    background: url("");
    display: none;
}

p.mobileTekst {
    color: #796d65;
    padding-left: 10px;
    padding-top: 25px;
    display: none;
}

img.mobileLogo p {
    padding: 7px;
}

.responsive {
    width: 100%;
    height: auto;
}

.myContainer {
    display: flex;
    background-color: brown;
    width: 100%;
    justify-content: flex-start;
    height: auto;
    background-size: cover;
    padding-top: 60px;
}

.banner_inner {
    position: absolute;
    left: 75%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.mySlides {
    max-height: 50vh;
}

div#splash.demo-banner {
    max-width: 100%:
}

#splash {
    background-image: url('../slider/fossiler.jpg');
    padding-top: 30px;
    height: 631px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
}

#mobileSplash {
    height: 631px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
}

.mobile {
    background-image: url('../slider/fossil_mobil.jpg');
    background-position: center center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
    padding-top: 60px;
}

.container > header {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
}

.container > header a {
    color: #566473;
    text-decoration: none;
    outline: none;
}

.container > header a:hover {
    color: #4f7bab;
}

.container > header h1 {
    font-size: 3.2em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    font-size: 55%;
    color: #74818e;
    padding: 0 0 0.6em 0.1em;
}

/* header animation h1*/
h1.animate {
    position: relative;
    animation: animate 0.8s;
    padding-top: 5px;
    color: #f37021;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px #b3aa87;
}

@keyframes animate {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
/* content json */
        .area-wrapper {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto ;
            justify-content: center;
        }

        .overskrift {}

        .indhold {}

        .kalk {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .indhold img {
            width: 25%;
        }

        .indhold figure {
            margin: 0;
        }


        .overskrift {
            text-align: center;
            display: none;
        }

        .billede {
            max-width: 300px;
        }
        .kalk h2 {
            padding-left: 1em;
        }
        .kalk p{
            padding-left: 1em;
        }
       .kalk img {
            width: 300px;
            top: 1em;
            margin-top: 1em;
        }


        main {
            max-width: 100%;
            margin-top: 0px;
        }
        @media (min-width: 800px) {
            .retter {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2px;
            }
        }
        /* Nav content json */

        .nav ul {
            list-style: none;
            background-color: #42c1c0;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .nav li {
            font-size: 1.2em;
            line-height: 60px;
            height: 60px;
            border-bottom: 1px solid #b3aa87;
        }

        .nav a {
            text-decoration: none;
            color: #f27020;
            display: block;
            transition: .3s background-color;
        }

        .nav a:hover {
            background-color: #00b5b2;
        }

        .nav a.active {
            background-color: #fff;
            color: #796d65;
            cursor: default;
        }


        @media screen and (min-width: 600px) {
            .nav li {
                width: 120px;
                border-bottom: none;
                height: 40px;
                line-height: 40px;
                font-size: 1em;
            }

            .nav li {
                display: inline-block;
                margin-right: -4px;
            }
        }
        /* grid */
        /* grid indhold */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
    article.kalk{
            display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
.grid-item:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}

.grid-item:nth-child(2) {
    grid-column: 1/ 4;
    grid-row: 2 / 3;
}
.grid-item:nth-child(3) {
    grid-column: 1/ 4;
    grid-row: 3 / 4;
}
.grid-item:nth-child(4) {
    grid-column: 4/ 6;
    grid-row: 2 / 4;
}

.grid-item:nth-child(5) {
    grid-column: 1 /3;
    grid-row: 4/ 6;
}

.grid-item:nth-child(6) {
    grid-column: 3 /6;
    grid-row: 4 / 5;
}
.grid-item:nth-child(7) {
    grid-column: 3 /6;
    grid-row: 5 / 6;
}

.grid-item:nth-child(8) {
    background: pink;

    grid-column: 6 / 7;
    grid-row: 2 / 6;
}

/* grid højde */
.grid-item {
    padding: 30px;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: .75rem;
}
footer.page-footer {
    bottom: 0;
    color: #fff;
}
.conta {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-footer{
    background-color: #ec7f44 !important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}
.mr-md-5, .mx-md-5 {
    margin-right: 3rem !important;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
/* copyright */
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}
.text-center {
    text-align: center !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

/* media query */
@media screen and (max-width: 1025px) {
    .container > header {
        margin: 0 auto;
        padding: 3em;
        font-size: 70%;
        text-align: right;
    }
}

@media screen and (min-width: 810px) {
     img.mobileLogo {
        display: none !important;
    }
    p.mobileTekst {
        display: none !important;

    }
    #banner-splash {
        display: block;
    }

    #mobileSplash {
        display: none;
    }
}

@media screen and (max-width: 809px) {
    main{
        margin-top: 60px;
    }
        #banner-splash {
        display: none;
    }

    /*a.mobile {
        display: block;
    }*/

    a#mobileSplash {
        display: block;
    }
          /* header items */
    img.mySlides {
        max-height: 40vh;
    }

    h1.animate {
        display: none;
    }

    .animate {
        display: none;
    }

    .banner_inner {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  #mobileSplash {
    padding-top: 60px;
    height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
}
  #splash {
    background-image: url('../slider/fossiler.jpg');
    padding-top: 60px;
    height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
}
}

@media (max-width: 600px) {


    /* header items */
    img.mySlides {
        max-height: 40vh;
    }

    h1.animate {
        display: none;
    }

    .animate {
        display: none;
    }

    .banner_inner {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media all and (max-width: 575px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 30px;

    }
    article.kalk{
            display: grid;
    grid-template-columns: 1fr;
        }

    .grid-item {
        width: 100%;
        height: auto;
        clear: both;
        grid-template-rows: 1fr;
}
    .grid-item:nth-child(1) {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
    }

    .grid-item:nth-child(2) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }

    .grid-item:nth-child(3) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }

    .grid-item:nth-child(4) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }

    .grid-item:nth-child(5) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }

    .grid-item:nth-child(6) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }
    .grid-item:nth-child(7) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }

    .grid-item:nth-child(8) {
        grid-column: 1 / 7;
        grid-row: span 1;
    }

@media screen and (min-width: 451px) {

    img.myLogo {
        display: block;
    }

    img.mobileLogo {
        display: none !important;
    }
    p.mobileTekst {
        display: none !important;

    }
}

@media screen and (max-width: 450px) {

    img.myLogo {
        display: none !important;
    }

    img.mobileLogo {
        display: block !important;
    }

    p.mobileTekst {
        display: block !important;
    }
    .fa-2x {
    font-size: 1.5em;
    }
.mr-md-5, .mx-md-5 {
    margin-right: 2rem !important;
}
}
