body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'limestoneregular';
    src: url('limestone_regular-webfont.woff2') format('woff2'),
        url('limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'limestoneregular';
}

h1 {
    text-align: center;
}

h3.grid-item {
    padding-left: 1em
}

div.splashHeader img {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

/* kalklandet style*/
img.kalklandImg1 {
    padding-top: 2em;
}

.links {
    color: #ec7f44;
}

h2.grid-item {
    display: none;
}

/* flag */
div.flag_inner {
    position: absolute;
    right: 0% !important;
    top: 15%;
    display: flex;
    flex-direction: column;
    float: right;
}

img.myFlag {
    max-width: 40px;
    padding-bottom: 10px;
    display: block;
}

/* styles for UNDERSIDER */

.page-nav {
    width: 100%;
    background-color: #42c1c0;
    font-size: 18px;
    margin-top: -5px;
}

/* Hide Hamburger */
.page-nav label,
#hamburger {
    display: none;
}

label2 {
    display: none;
}

span {
    display: none;
}

/* Menu Items */
.page-nav p {
    display: none;
}

.page-nav ul {
    list-style-type: none;
    margin: 0;
}

.page-nav ul li {
    display: inline-block;
    padding-bottom: 10px;
}

.page-nav ul li a {
    text-decoration: none;
    padding: inherit;
    color: #796d65;
    width: inherit;
    padding: 10px;
}

.page-nav l:hover {
    display: inline-block;

}

.page-nav a:hover {

    background-color: #00b5b2;
    color: #FFF;
    padding-top: 22px;
}

.page-nav a:fokus {
    background-color: #00b5b2;
    color: #FFF;
    padding-top: 22px;
}

.page-nav a:hover-within {
    background-color: #00b5b2;
    color: #FFF;
    padding-top: 22px;
}

.page-nav a.active {

    background-color: #fff;
    color: #ec7f44;
    cursor: default;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 21px;
    padding-bottom: 11px;

}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* Show Hamburger */
    .page-nav label {
        display: inline-block;
        color: #fff;
        background: #e67c42;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    span {
        display: block;
        float: right;
        padding-top: 15px;
        padding-right: 12px;
        color: #ec7f44;
    }

    /* Break down menu items into vertical */
    .page-nav ul li {
        display: block;
        padding: inherit;
    }

    .page-nav ul li {

        border-top: 1px solid #b3aa87;
        width: 100%;
        padding: 11px;

    }

    /* Toggle show/hide menu on checkbox click */
    .page-nav ul {
        display: none;
    }

    .page-nav input:checked ~ ul {
        display: block;
    }

    /* li p mobile menu */
    .page-nav a.active {
        background-color: #42c1c0;
        color: #FFF;
        cursor: default;
        padding-top: 10px;
    }

    .page-nav ul li a:hover {
        display: inline-block;
        padding: 0px;
        margin: 0;
    }
}

/* Front navigation */
/* To Navigation Style */
img.myLogo {
    height: 60px;
    border-right: none;
    background: url("");
}

img.mobileLogo {
    height: 60px;
    background: url("");
    display: none;
}

p.mobileTekst {
    color: #796d65;
    padding-left: 10px;
    padding-top: 25px;
    display: none;
}

img.mobileLogo p {
    padding: 7px;
}

.responsive {
    width: 100%;
    height: auto;
}

.banner_inner {
    position: absolute;
    left: 75%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.mySlides {
    max-height: 50vh;
}

div#splash.demo-banner {
    max-width: 100%;
}

#splash {
    background-image: url('../slider/fossiler.jpg');
    padding-top: 30px;
    height: 721px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
}

#mobileSplash {
    height: 631px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
}

.mobile {
    background-image: url('../slider/fossil_mobil.jpg');
    background-position: center center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60px;
    width: 100%;
    padding-top: 60px;
}

.container > header {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
}

.container > header a {
    color: #566473;
    text-decoration: none;
    outline: none;
}

.container > header a:hover {
    color: #4f7bab;
}

.container > header h1 {
    font-size: 2.8em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    font-size: 55%;
    color: #74818e;
    /* padding: 0 0 0.6em 0.1em;*/
}

/* header animation h1*/
h1.animate {
    position: relative;
    animation: animate 0.8s;
    padding-top: 25px;
    color: #f37021;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px #b3aa87;
}

@keyframes animate {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* footer */

#footer {
    font-size: 14px;
    width: 100%;
    margin: auto;

    background-color: #ec7f44;
    color: #FFF;
}

#wrapper {
    background-color: #ec7f44;
    width: 100%;
    overflow: hidden;
}

.footerFloat li {
    list-style: none;
    text-decoration-line: underline;
    text-align: left;
}

.footerFloat h4 {
    text-align: center;
    color: #796d65;
    font-size: 24px;
}

.footerFloat ul {
    text-align: center;
}

.footer-copyright {
    overflow: hidden;
    background-color: #b4a983;
    text-align: center;
    color: #FFF;
    font-size: 12px;
}

.flex-center {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 2em;
}

.fb-ic,
.ins-ic,
.pin-ic {
    font-size: 10px;
    padding-right: 2em;
}

div.footerFloat {
    width: 25%;
    float: left;
}

iframe#kort {
    max-width: 220px;
    height: auto;
    text-align: center;
}

@media all and (max-width: 650px) {
    .breakFooter {

        width: 100%;
        float: none;
        margin: 0 auto;
    }

    div.footerFloat {
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    .breakFooter {

        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .footerFloat ul {
        text-align: left;
    }

    div.footerFloat {
        width: 100%;
        text-align: center;
    }

    iframe#kort {
        width: 100%;
    }

    div#kort {
        width: 100%;
    }
}

/* media query */
@media screen and (max-width: 1025px) {
    .container > header {
        margin: 0 auto;
        padding: 3em;
        font-size: 70%;
        text-align: right;
    }
}

@media screen and (min-width: 810px) {
    #banner-splash {
        display: block;
    }

    #mobileSplash {
        display: none;
    }
}

@media screen and (max-width: 809px) {
    div.splashHeader img {
        max-height: 300px;
        padding: 10px 0;
        padding-bottom: 0px;
    }

    main {
        margin-top: 60px;
    }

    #banner-splash {
        display: none;
    }

    a#mobileSplash {
        display: block;
    }

    div.footerFloat {
        width: 50%;
    }

    /* header items */
    img.mySlides {
        max-height: 40vh;
    }

    h1.animate {
        display: none;
    }

    .animate {
        display: none;
    }

    .banner_inner {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #mobileSplash {
        padding-top: 60px;
        height: 740px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center 60px;
        width: 100%;
    }

    #splash {
        background-image: url('../slider/fossiler.jpg');
        padding-top: 60px;
        height: 740px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center 60px;
        width: 100%;
    }
}

@media screen and (min-width: 650px) {
    .navi li {
        width: 105px;
        border-bottom: none;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    .navi li {
        display: inline-block;
        margin-right: -4px;
    }
}

@media (max-width: 600px) {


    /* header items */
    img.mySlides {
        max-height: 40vh;
    }

    h1.animate {
        display: none;
    }

    .animate {
        display: none;
    }

    .banner_inner {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .footerFloat ul {
        text-align: center;
        padding-left: 20%;
    }
}

@media screen and (min-width: 421px) {

    p.mobileTekst {
        display: none;

    }

    img.myLogo {
        display: block;
    }

    img.mobileLogo {
        display: none;
    }
}

@media screen and (max-width: 420px) {

    img.myLogo {
        display: none;
    }

    img.mobileLogo {
        display: inline-block;
    }

    p.mobileTekst {
        display: inline-block;
    }

    .fa-2x {
        font-size: 1.5em;
    }

    .mr-md-5,
    .mx-md-5 {
        margin-right: 2rem !important;
    }
}

@media screen and (max-width: 310px) {
    p.mobileTekst {
        display: none;
    }
}
